<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<h3>These pets are looking for a home!</h3>
<a [routerLink]="['new']"><button id="aButton">Add a New Pet</button></a>
<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let pet of allPets">
            <td>{{pet.name}}</td>
            <td>{{pet.type}}</td>
            <td>
                <div class="goLeft">
                    <a [routerLink]="[pet._id, 'details']"><button  class="stylishButton">Details</button></a>
                    <a [routerLink]="[pet._id, 'edit']"><button  class="stylishButton" >Edit</button></a>                   
                </div>
            </td>
        </tr>
    </tbody>
</table>






<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>